body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fffb;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 600px;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}

li.correct {
    background-color: #8BC34A; 
    color: #fff;
}


li.incorrect {
    background-color: #FF5722; 
    color: #fff;
}


.difficulty {
    margin-top: 230px;
}

#easy-button,
#medium-button,
#hard-button {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

#reset-button,
#next-difficulty-button,
#return-to-menu-button {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
    display: block; /* Change display property to block for vertical alignment */
    margin: 10px; /* Center the buttons horizontally */
}
.button{
    display: flex;
    justify-content: center;
  }


#results {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

#quiz-container {
    margin-top: 100px;
}

#question-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#next-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.shake {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }