body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fffb;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 600px;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}

li.correct {
    background-color: #8BC34A; 
    color: #fff;
}


li.incorrect {
    background-color: #FF5722; 
    color: #fff;
}


.difficulty {
    margin-top: 330px;
}

#easy-button,
#medium-button,
#hard-button {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

#reset-button,
#next-difficulty-button,
#return-to-menu-button {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

#results {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Update styles for vertical alignment */
#reset-button,
#next-difficulty-button,
#return-to-menu-button {
    display: block; /* Change display property to block for vertical alignment */
    margin: 10px auto; /* Center the buttons horizontally */
}

#quiz-container {
    margin-top: 200px;
}

#question-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#next-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
